.class-bar {
  width: 100%;
  list-style-type: none;
  overflow-y: scroll;
}

.student-form,
.student-list,
.student-file-form {
  font-size: 18px;
  border-radius: var(--border-radius);
  box-shadow: var(--primary-box-shadow);
  margin: 50px 50px;
  padding: 10px 20px;
}
