.student-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  transition: all 0.3s;
}

.student-item button {
  color: var(--primary-color);
  background: transparent;
  border: none;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.5s;
}

.student-item button:hover {
  background: #006888;
}
