.seating-generator {
  padding: 50px;
}

.generator {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  column-gap: 4%;
}

.generator-ui {
  width: 100%;
  grid-column: 1 / span 2;
}

.dynamic-bar,
.grid-bar {
  width: 95%;
  display: grid;
  grid-template-columns: 49% 1% 50%;
  box-shadow: var(--primary-box-shadow);
  padding: 20px 0 20px 30px;
  border-radius: var(--border-radius);
  /* margin-left: 20px; */
}

.dynamic-bar-divider,
.grid-bar-divider {
  border: 1px solid black;
  margin: 0 30px;
}

.seating-generator button {
  width: 100%;
  padding: 10px 0;
  background: #2d3436;
  color: white;
}

.student-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  text-align: center;
  margin: 20px 0;
}

.student {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
