.seating-generator {
  padding: 50px;
}

.generator {
  width: 100%;
}

.konvajs-content {
  border: 1px solid gray;
}

.dynamic-bar {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: var(--primary-box-shadow);
  padding: 20px 0 20px 30px;
  border-radius: var(--border-radius);
  margin-bottom: 50px;
}

.dynamic-bar-divider {
  border: 1px solid black;
  margin: 0 30px;
}

.seating-generator button {
  width: 100%;
  padding: 10px 0;
  background: #2d3436;
  color: white;
}

.student-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  text-align: center;
  margin: 20px 0;
}

.student {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

#add-table {
  width: 50px;
  height: 50px;
}
